@charset "UTF-8";
/*css 註解*/
.btn-default {
  width: 150px;
  padding: 15px;
  background-color: #f20;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-default:hover {
  background-color: #991400;
}
@media screen and (max-width: 720px) {
  .btn-default {
    width: 80%;
    margin: 0 auto 0;
  }
}
@media screen and (max-width: 414px) {
  .btn-default {
    width: 100%;
  }
}

.btn-large {
  width: 300px;
  padding: 15px;
  background-color: rgb(0, 89, 255);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-large:hover {
  background-color: #003599;
}
@media screen and (max-width: 414px) {
  .btn-large {
    width: 100%;
  }
}

.btn-small {
  width: 100px;
  padding: 10px;
  background-color: rgb(242, 0, 255);
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn-small:hover {
  background-color: #910099;
}
@media screen and (max-width: 414px) {
  .btn-small {
    width: 100%;
  }
}

header h1 {
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
}
@media screen and (max-width: 414px) {
  header h1 {
    font-size: 100px;
    color: #f20 !important;
  }
}
header nav {
  display: inline-block;
}
header nav ul {
  display: flex;
  list-style: none;
  padding: 0;
}
header nav ul li {
  width: 100px;
  padding: 10px;
  background-color: #666;
}

.index .content {
  width: 1200px;
  margin: 10px auto 0;
  background-color: rgb(241, 241, 241);
}
.index .center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-color: #5f5f5f;
}
.index .center .box {
  width: 300px;
  height: 300px;
  background-color: #a1a1a1;
}
.index h1 {
  color: rgb(26, 26, 26);
}
.index h1 span {
  font-size: 10px;
}
.index .btn {
  width: 300px;
  transition: all 0.3s ease;
  text-align: center;
  padding: 15px 0px;
  cursor: pointer;
}
.index .btn-submit {
  margin-top: 10px;
  background-color: rgb(0, 98, 255);
  color: rgb(255, 255, 255);
}
.index .btn-submit:hover {
  background-color: rgb(0, 3, 155);
}
.index .btn-reset {
  background-color: rgb(104, 104, 104);
  color: rgb(255, 255, 255);
}
.index .btn-reset:hover {
  background-color: rgb(60, 60, 60);
}
.index .btn-warming {
  background-color: rgb(255, 238, 0);
  color: rgb(255, 255, 255);
}
.index .btn-warming:hover {
  background-color: rgb(151, 168, 28);
}

body {
  color: rgb(26, 26, 26);
  background-color: rgb(35, 35, 35);
  font-size: 20px;
  padding: 10px;
}

.banner_01 {
  background-image: url("images/img.png");
}

h1 {
  font-size: 46px;
}

.a {
  font-size: 10px;
}

.wrapper {
  width: 100%;
  background-color: #fff;
}

.a {
  width: 100px;
  height: 100px;
  background-color: #fff;
}

.b {
  width: 100px;
  margin-top: 100px;
}

.w {
  width: 200em;
  height: 90px;
  margin: 100px;
  font: 4em;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 60px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 20px;
}

.d {
  color: #000;
  width: 100px;
}

.container {
  width: 100%;
}

.title {
  font-weight: 900;
  font-size: 48px;
}/*# sourceMappingURL=style.css.map */