/*css 註解*/
// scss 註解
// var
@import 'base/font';
@import 'base/color';
@import 'base/other';

//mixin
@import 'mixin/mixin';

//component
@import 'component/btn';
@import 'component/space';

//layout
@import 'layout/header';
@import 'layout/footer';

//page
@import 'page/index';
@import 'page/about';




body {
    margin: null;
    color: $color;
    background-color: $bcg;
    font-size: $bodyFontsize;
    padding: $body_padding;
}

.#{$class} {
    background-image: url('#{$path}/img.png');
}

h1 {
    font-size: 46px;
}

$a : 10px;

.a {
    $a: 20 px !default; //權重變最小
    font-size: $a;
    //$b: 30px !global;
}

// .b {
//     font-size: $b;
// }


// .wrapper h1 {
//     color: $color;
// }

// .wrapper .box {
//     width: 100px;
//     height: 100px;
// }

//巢狀
.wrapper {
    width: 100%;
    background-color: #fff;



}


@mixin c() {
    width: 100px;
    @content; // 擴增屬性
}

.a {
    @include c() {
        height: 100px;
        background-color: #fff;
    }
}


.b {
    @include c();
    margin-top: 100px;

}


.w {
    width: 100em + 100;
    height: 100 - 10 +px;
    margin: 10 * 10 +px;
    font: 100 / 25 +em // font 屬性 font-size/line-height  
}

h1 {
    font-size: $bodyFontsize * 5;
}

h2 {
    font-size: $bodyFontsize * 4;
}

h3 {
    font-size: $bodyFontsize * 3;
}

h4 {
    font-size: $bodyFontsize * 2;
}

h5 {
    font-size: $bodyFontsize * 1;
}

// @if @else @else if

$f : true;

.d {
    @if $f {
        color: #000
    }

    width: 100px;
}

.container {
    @include layout(100%);
}

.title {
    @include fontstyle(48px, bold)
}

.subtitle {
    @include fontstyle(20px, thin)
}

//each迴圈
//list
$list : banner01 banner02 banner03 banner04;

@each $img in $list {
   .img-#{$img} {
      background-image: url('images/#{$img}.jpg');
      background-repeat: no-repeat;
      background-size: cover; 
   }
}

$map :(
 'space01' : 10px,
 'space02' : 20px,
 'space03' : 30px,
);  // map

@each $key , $val in $map {
  .#{$key} {
    margin-top: $val;
  }
}


// .space1 {
//     margin-top: map-get($map , space1 );
// }

// .space2 {
//     margin-top: map-get($map , space2);
// }




