/*css 註解*/
// scss 註解

@import 'base/font';
@import 'base/color';
@import 'base/other';




body {
    margin: null;
    color: $color;
    background-color: $bcg;
    font-size: $bodyFontsize;
    padding: $body_padding;
}

.#{$class} {
    background-image: url('#{$path}/img.png');
}

h1 {
    font-size: 46px;
}

$a : 10px;

.a {
    $a: 20 px !default; //權重變最小
    font-size: $a;
    //$b: 30px !global;
}

// .b {
//     font-size: $b;
// }


// .wrapper h1 {
//     color: $color;
// }

// .wrapper .box {
//     width: 100px;
//     height: 100px;
// }

//巢狀
.wrapper {
    width: 1300px;
    margin: 0 auto;
    background-color: #fff;

    h1 {
        color: $color;

        span {
            font-size: 10px;
        }
    }

    .btn {
        width: 300px;
        transition: all .3s ease;
        text-align: center;
        padding: 15px 0px;
        cursor: pointer;
        &-submit {
            background-color: rgb(0, 98, 255);
            color: rgb(255, 255, 255);

            &:hover {
                background-color: rgb(0, 3, 155);
            }
        }
        &-reset {
            background-color: rgb(104, 104, 104);
            color: rgb(255, 255, 255);

            &:hover {
                background-color: rgb(60, 60, 60);
            }
        }
        &-warming {
            background-color: rgb(255, 238, 0);
            color: rgb(255, 255, 255);

            &:hover {
                background-color: rgb(151, 168, 28);
            }

        }
    }


}