header {
 h1 {
   font-size: 30px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   display:inline-block;
   @include m(){
    font-size: 100px;
    color: #f20!important;

   }
 }
 nav {
   display:inline-block;
    ul {
        display: flex;
        list-style: none;
        padding: 0;
        li{
          width: 100px;
          padding: 10px;
          background-color: #666;
        }
    }

 }



}