$color : rgb(26, 26, 26);
$bcg : rgb(35, 35, 35);

$primaryColor : #2871E6;
$secondaryColor : rgb(244, 0, 0);
$gray: #2e2d2d;
$gray01: #5f5f5f;
$gray02: #a1a1a1;
$gray03: #c1c0c0;
$gray04: #f0f0f0;

//state




