
//置中
@mixin center($w , $top:0 , $bgc:null){
   width: $w;  
   margin: $top auto 0;
   background-color:$bgc;
} // 預設值 null

@mixin box-center(){
   display: flex;
   justify-content: center;
   align-items: center;
}

@mixin btn($w , $p , $bgc , $r:null){
  width:$w ;
  padding:$p ;
  background-color: $bgc;
  text-align: center;
  border-radius: $r;
  transition: all .3s ease ;
  cursor: pointer;
  &:hover {
   background-color: darken($bgc , 20);
  }
}

//手機板
@mixin m(){
    @media screen and (max-width: $m) {
     @content;    
    }
}

@mixin t(){
   @media screen and (max-width: $t) {
    @content;    
   }
}



