
//置中
@mixin center($w , $top:0 , $bgc:null){
   width: $w;  
   margin: $top auto 0;
   background-color:$bgc;
} // 預設值 null

@mixin  box-center(){
   display: flex;
   justify-content: center;
   align-items: center;
}
